body {
    /* margin: 0; */
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
}

.profile-card {
    width: 350px;
    text-align: center;
    background: white;
    border: 1px solid black;
    padding: 20px;
}

#profile-img {
    border: 2px solid black;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin-left: 21.7%;
    margin-right: 42.9%;
    /* margin-top: 60px; */

}

.profile-name {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.profile-course {
    /* margin-left: 2%; */
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 0;
}

.email {
    margin-left: 1%;
    margin-right: 0;
    font-size: 18px;
    margin-top: 5px;
    display: block;
}

#connect-btn {
    border: 2px solid black;
    color: black;
    /* margin-left: 4.3%; */
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 5px;
    display: inline;
}

#connect-btn:hover {
    background-color: black;
    color: white;
}